<div class="col-xs-12" *ngFor="let user of users; let i = index">
    <div class="col col-xs-6" style="margin-top: 20px ;">
        <a style="cursor: pointer;" class="list-group-item clearfix">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ user.ime }} {{user.prezime}}</h4>
                <p class="list-group-item-text">{{ user.tip }}</p>
            </div>
            
        </a>



    </div>
    <div class="col-xs-2">
        <button class="btn btn-danger" style="margin-top:20px ;" (click)="izbaciIzListe(user.id)">X</button>

    </div>

</div>



